<div class="top">
</div>
<div class="middle">
  <div id="start-game" class="states hidden"> START GAME </div>
  <div id="searching-game" class="states hidden"> Searching </div>
  <div id="accept-game" class="states hidden"> ACCEPT </div>
  <table id="game" align="center">
  </table>
</div>

<%= $redis.hgetall(@current_user.uuid) %>
