html{
  background-color: #BEEEEF;
}

.hidden{
  display: none;
}
.top{
  margin: 50px;
}
.middle{
  max-width: 550px;
  margin: 0 auto;
}

.states{
  background-color: #3AB73A;
  font-size: 24px;
  color: #fff;
  padding: 18px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin: 5px 0;
}

#game{
  td{
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
  }
  vertical-align: middle;
  .fog{
    border: 1px solid rgba(3, 3, 3, 0.1);
    background-color: rgb(121, 205, 255);
    transition: all 0.2s linear;
    cursor: pointer;
  }
  .fog:hover{
    background-color: #4ca6ff;
    border: 1px solid rgba(3, 3, 3, 0.2);
  }
  .swept{
    border: 1px solid rgba(52, 84, 84, 0.1);
    background-color: #B0E2FF;
  }
}
